body {
    background: #201313;
}

.main {
    color: RGB(250, 249, 249);
    font-size: 55px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.hhi {
    color: white;
    font-size: 35px;
    font-family: PPMori (woff2);
}

.container {
    margin: 7vw 20vw;
}

.thougt {
    color: RGB(250, 249, 249);
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 35px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 30px;
}

.head a {
    font-size: 19px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.blog {
    color: rgba(255, 217, 0, 0.959);
}

.ton {
    padding: 10px 40px;
    background-color: rgba(255, 187, 0, 0.918);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}

.tot {
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}

.tow {
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 800;
    text-decoration: dotted underline;
    color: whitesmoke;
}

.mum {
    color: RGB(250, 249, 249);
    font-size: 32px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
}

.rem {
    color: white;
    font-size: 20px;
    font-family: PPMori (woff2);
}

.God {
    color: red;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.yah {
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.four {
    margin-top: 10px;
    margin-bottom: 70px;
}

.four a {
    text-decoration: none;
    color: white;
}

.five {
    background-color: #351010;
    padding: 15px 25px;
    padding-bottom: 30px;
}

.five p {
    font-size: 20px;
    margin: 10px 20px;
    color: white;
}

.five input {
    background-color: #351010;
    outline: none;
    border: none;
    border-bottom: red solid;
    width: 40vw;
    height: 6vh;

}

.five h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.five button {
    padding: 18px 35px;
    background-color: red;
    font-size: 19px;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
    border: none;
}

.six {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.six a {
    font-size: 23px;
    color: white;
    font-weight: 900;
    text-decoration: dotted underline;
}

.six p {
    color: white;
    font-size: 20px;
}

.seven {
    color: RGB(250, 249, 249);
    font-size: 32px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
}

.eight {
    margin-top: 10px;
    margin-bottom: 70px;
}

.eight a {
    text-decoration: none;
    color: white;
    font-size: 15.84px;
    font-weight: 900;
}

.seven {
    color: RGB(250, 249, 249);
    font-size: 32px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
}

.eight {
    margin-top: 10px;
    margin-bottom: 70px;
}

.eight a {
    text-decoration: none;
    color: white;
    font-size: 15.84px;
    font-weight: 900;
}

.nine {
    color: RGB(250, 249, 249);
    font-size: 32px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
}

.ten {
    margin-top: 10px;
    margin-bottom: 70px;
}

.ten a {
    text-decoration: none;
    color: white;
    font-size: 15.84px;
    font-weight: 900;
}

.jesus {
    color: yellowgreen;
    font-size: 18px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.yahweh {
    color: RGB(250, 249, 249);
    font-size: 17px;
    font-weight: 50;
    font-family: "Roboto", sans-serif;
}

.reg {
    color: white;
    font-size: 20px;
    font-family: PPMori (woff2);
    text-decoration: none;
}

.God {
    color: yellow;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.God {
    color: yellow;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.kesh {
    text-align: center;
    padding: 20px 10px;
}

.kesh a {
    color: white;
    font-size: 22.5px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: dotted underline;
}

.kesh .one {
    text-decoration: none;
    color: yellow;
}

.kesh .dot {
    text-decoration: none;
}

.foot {
    display: flex;
    margin-left: 20px;
}

.foot .foot1 {
    width: 45vw;
    height: 35vh;
}

.foot .foot1 h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.foot ul {
    margin-left: 30px;
    list-style-type: none;

}

.foot li {
    font-size: 22.5px;
    text-decoration: none;
    margin-top: 10px;
}

.foot a {
    text-decoration: dotted underline;
    color: white;
}
.foot .lets{
    text-decoration: underline;
    color: yellow;
}
.foot2{
    display: flex;
    margin-left: 20px;
}
.foot2 p{
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.foot3 ul{
    display: flex;
    gap: 20px;
}
.foot3 ul{
    list-style-type: none;
}
.foot3 a{
    text-decoration: dotted underline;
    color: gray;
    font-size: 18px;
}